<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:node="remove" />
    <application>
        <provider android:name="androidx.core.content.FileProvider" tools:node="remove" />
    </application>
</manifest>
