* { margin: 0 auto; padding: 0 auto; }
body {font-family: "Arial"; background-image: url("../data/gui/panelwood120.jpg");}

li.online {color: #0A0}
li.offline {color: #A00}
#buddyList {
	border: 1px solid black;
	width: 128px;
	height: 250px;
	float: left;
	overflow:scroll;
}
#buddyList ul {
	cursor: default;
	list-style-type: none;
	margin:0;
	padding:0.1em;
}

div.itemSlot { width:32px; height:32px; background-repeat: no-repeat; border: 1px solid black; background: #CD853F; float: left;
margin: 1px; text-align: right; color:#FFF; font-weight: bold; font-size:10px }
.equipment { position:relative; height:210px; border: 1px solid black; }
/* Right panel */
#neck0 {position:absolute; top:20px; left:7px}
#rhand0 {position:absolute; top:60px; left:7px}
#finger0 {position:absolute; top:100px; left:7px}
#fingerb0 {position:absolute; top:140px; left:7px}
/* Middle panel */
#head0 {position:absolute; top:5px; left:45px}
#armor0 {position:absolute; top:45px; left:45px}
#pas0 {position:absolute; top:85px; left:45px}
#legs0 {position:absolute; top:125px; left:45px}
#feet0 {position:absolute; top:165px; left:45px}
/* Left panel */
#cloak0 {position:absolute; top:20px; left:84px}
#lhand0 {position:absolute; top:60px; left:84px}
#glove0 {position:absolute; top:100px; left:84px}
#money0 {position:absolute; top:140px; left:84px}


#chat {
	height: 75px; border: 1px solid #000; padding:0.5em;
	overflow-y: scroll; word-wrap:break-word; display: block;
	background:	#603000; color: #AAE5C1; font-weight: 500;
}

#zoneinfo {
	 color: #FFF;
	 background-color: #000;
}

#stats {
	border: 1px solid black;
	cursor: default;
	width: 125px;
	float: left;
	font-size: 0.8em;
	white-space: pre;
	padding: 0.1em;
	color: white;
}

div.logerror {color: #F00}
div.logprivmsg {color: #444}
div.logclient {color: #888}
div.logerror {color: #F00}
div.loginformation {color: #ffc800}
div.lognegative {color: #f00}
div.lognormal {color: #FFF}
div.logpositive {color: #0f0}
div.loggroup {color: #633d8b}
div.logemote {color: #633d8b}
div.logresponse {color: #006400}
div.logscene_setting {color: #572002}
div.logsignificant_negative {color: #ff8f8f}
div.logsignificant_positive {color: #4169e1}
div.logtutorial {color: #ac00ac}
div.logsupport {color: #ff7200}
span.logh {color: #00F}
span.logi {text-decoration: underline}
span.loga {color: #D40000;text-decoration: underline}

.actionmenu {
	border: 1px solid #000; background-color:#FFF
}
.actionmenu button {
	min-width: 5em;
	width: 100%
}

#leftColumn { float:left; width:130px}

#minimap { border: 1px solid black; float: left }

#gamewindow { float: left }

#rightColumn { float: left; width: 186px }
#equipmentborder { float: left; width:130px }

#bag { border: 1px solid black; width: 180px; padding: 2px; float: left }
#keyring { border: 1px solid black; width: 144px; padding: 2px; float: left }

#chatinput { width:99.7% }

.inventorypopup, .inventorypopup_2, .inventorypopup_6, .popuptitle {
	background-image: url("../data/gui/panelwood120.jpg");
}
.inventorypopup {
	border: 1px solid black;
	background-color: #FFF;
	padding: 2px;
	float: left;
}
.inventorypopup_2 {
	width: 80px;
}
.inventorypopup_6 {
	width: 217px;
}
.popupdiv {
	border: 1px solid #000;
	background-color: #FFF;
}
.popuptitle {
	cursor: default;
	background-color: #00A;
	color: #FFF;
	padding: 3px;
	border: double 2px #825A26;
}
.popuptitleclose {
	float:right
}

#dropnumberdialogvalue {
	width: 4em;
}

.unselectable {
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* SUWAK */
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 22px rgba(0,0,0,0.3);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-corner {
	opacity: 0;
}

.inlineblock {
	display: inline-block;
	vertical-align: top;
}

.menugroup {
	color: #000;
	background: #FFF;
	text-align: center;
}

.horizontalgroup {
	display: flex;
	align-items: center;
}

.verticalgroup {
	display: flex;
	align-items: center;
	flex-direction: column;
}